* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  margin: 8px 30px 20px;
}
nav .navlist {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}
ul li {
  background-color: rgba(26, 85, 163, 0.884);
  font-size: 32px;
  color: #f5eded;
  padding: 25px 70px;
}
